console=serial0,115200 console=tty1 root=PARTUUID={{ rpi5_boot_root_partuuid }} rootfstype=ext4 fsck.mode=force fsck.repair=yes rootwait quiet splash plymouth.ignore-serial-consoles cfg80211.ieee80211_regdom={{ rpi5_boot_wifi_regdom }} pcie_aspm={{ rpi5_boot_pcie_aspm }} nvme_core.default_ps_max_latency_us={{ rpi5_boot_nvme_ps_max_latency_us }} cgroup_enable=memory softlockup_panic=1 hung_task_timeout_secs={{ rpi5_boot_hung_task_timeout_secs }} hung_task_panic=1 panic={{ rpi5_boot_panic_timeout }} system_heap.max_order=4 iommu_dma_numa_policy={{ rpi5_boot_iommu_dma_numa_policy }} nvme_core.use_cmb_sqes={{ rpi5_boot_nvme_use_cmb_sqes }} numa=fake={{ rpi5_boot_numa_fake }} coherent_pool={{ rpi5_boot_coherent_pool }} nvme.max_host_mem_size_mb={{ rpi5_boot_nvme_max_host_mem_size_mb }}
